# Python
*.pyc
*.pyo
__pycache__/
venv/
env/
*.egg-info/
*.pytest_cache/

# Virtual Environment
.env
*.venv
.envrc

# Logs and databases
*.log
*.sqlite3
*.db
instance/

# VS Code
.vscode/

# MacOS and Linux
.DS_Store

# Node.js (if applicable)
node_modules/

# Flask & Streamlit
config.py
*.secret

# YOLO
yolo_output/
model_weights/
runs/

# Docker
docker-compose.override.yml
*.pid

# PostgreSQL
pgdata/
